<div class="header">
  <br><br>
</div>
<div>
      <h1>
        STUDENTS DATABASE
      </h1>
</div>
<br>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <div class="navbar-header">
      <ul ngbNav class="nav navbar-nav">
        <li class="nav-item" ngbNavItem>
          <a class="nav-link" routerLink="/"> Home </a>
        </li>
        <li class="nav-item" ngbNavItem>
          <a class="nav-link" routerLink="/data"> Students </a>
        </li>
        <li class="nav-item" ngbNavItem>
          <a class="nav-link" routerLink="/add"> Add Student </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<br>
<div>
  <router-outlet></router-outlet>
</div>
<div class="footer">
  <br><br>
</div>
